In [1]:
import pandas as pd

In [5]:
lulc = pd.read_csv('lulc2.csv')
lulc.head()

,lc_code,dscr1,dscr2,dscr3,Shape_Leng,Shape_Area,PI_Code,stcode
0,WBCN,Water bodies,Canal,Canal,2.584599,0.065533,NaN,28
1,BURH,Built up,Built up (Rural),Hamlets and dispersed household,3.180078,0.049774,Ponnavanipeta,28
2,BURH,Built up,Built up (Rural),Hamlets and dispersed household,10.400605,0.076483,Pakaivalasa,28
3,BURV,Built up,Built up (Rural),Village,3.784063,0.018226,Manchalapeta,28
4,BURH,Built up,Built up (Rural),Hamlets and dispersed household,11.975146,0.059786,Pakaivalasa,28

In [7]:
wasteland = lulc[lulc['dscr1'] == 'Wastelands']
wastelandArea = wasteland['Shape_Area'].sum()
wastelandArea

1.2117321590369654

In [ ]:
panchayat = pd.read_csv('')