In [2]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [4]:
scores = pd.read_csv('featureScores.csv', header=None)
scores

    0   1    2    3   4    5   6   7    8   9
0  32  24   62   60  32   47  34  28   44  68
1  16  52   40   72  37   73  13  39  100  36
2   6  23   82   44  26   45  41  22   39  78
3  25  24  100   45  58   40  32  25   67  66
4  54  89   78   64  45   68  21  33  100  73
5  29  23   39   87  60   73   6  42   96  65
6   4  24   35  100  81  100  18  51   82  37
7  12  27   48   78  70   88  37  41  100  35
8  11  35   73   50  59   50  34  25   63  77
9  58  26   46   81  57   88  15  28   55  52

In [6]:
x = np.array(scores)
x

array([[ 32,  24,  62,  60,  32,  47,  34,  28,  44,  68],
       [ 16,  52,  40,  72,  37,  73,  13,  39, 100,  36],
       [  6,  23,  82,  44,  26,  45,  41,  22,  39,  78],
       [ 25,  24, 100,  45,  58,  40,  32,  25,  67,  66],
       [ 54,  89,  78,  64,  45,  68,  21,  33, 100,  73],
       [ 29,  23,  39,  87,  60,  73,   6,  42,  96,  65],
       [  4,  24,  35, 100,  81, 100,  18,  51,  82,  37],
       [ 12,  27,  48,  78,  70,  88,  37,  41, 100,  35],
       [ 11,  35,  73,  50,  59,  50,  34,  25,  63,  77],
       [ 58,  26,  46,  81,  57,  88,  15,  28,  55,  52]])

In [7]:
clf = KMeans(n_clusters=2)

In [8]:
clf.fit(x)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [9]:
labels = clf.labels_

In [10]:
labels

array([1, 0, 1, 1, 0, 0, 0, 0, 1, 0], dtype=int32)